{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="container-fluid justify-conent-center">
        <form action="/solve" method="post">
            <input class="btn-outline-secondary" type="text" name="pangram" placeholder="enter letters">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">solve</button>
            </div>
        </form>
    </div>
    <br><br>
    <p>{{ message }}</p>
{% endblock %}