{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block main %}

    <div class="container-fluid justify-conent-center">
        <form action="/solve" method="post">
            <input class="btn-outline-secondary" type="text" name="pangram" placeholder="enter letters">
            <br>
            <input class="btn-outline-secondary" type="text" name="midletter" placeholder="enter middle letter">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">solve</button>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col">
            <h3>Perfect Pangrams</h3>
            <table class="table table-borderless">
                    {% for word in perf_pangrams %}
                <tr>
                    <td>{{ word }}</td>
                </tr>
                    {% endfor %}
            </table>
        </div>
        <div class="col">
            <h3>Pangrams</h3>
            <table class="table table-borderless">
                    {% for word in pangrams %}
                <tr>
                    <td>{{ word }}</td>
                </tr>
                    {% endfor %}
            </table>
        </div>
    </div>

    <br>
    <h3>Words</h3>

    <div class="container-fluid"></div>
    <div class="row">
        {% for length in words %}
        <div class="col">
            <table class="table table-borderless">
                {% for word in length %}
                <tr>
                    <td>{{ word }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}