{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block main %}

    <div class="container-fluid justify-conent-center">
        <form action="/solve" method="post">
            <input class="btn-outline-secondary" type="text" name="pangram" placeholder="enter letters">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">solve</button>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="column">
            <table class="table-borderless">
                <tr>
                    <th>Perfect Pangrams</th>

                </tr>
                    {% for word in perf_pangrams %}
                <tr>
                    <td>{{ word }}</td>
                </tr>
                    {% endfor %}
            </table>
        </div>
        <div class="column">
            <table class="table-borderless">
                <tr>
                    <th>Pangrams</th>
                </tr>
                    {% for word in pangrams %}
                <tr>
                    <td>{{ word }}</td>
                </tr>
                    {% endfor %}
            </table>
        </div>
        <div class="column">
            <table class="table-borderless">
                <tr>
                    <th>Words</th>

                </tr>
                    {% for word in words %}
                <tr>
                    <td>{{ word }}</td>
                </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}